/*
FONTS
  Header Text: Open Sans, Bold
  Body & Label: Open Sans, Light
COLORS
  Main Page Colors:
    Dark: #1F1F3D
    Mid: #A9AAD2
    Light: #EAEAF4
  Idea Box Colors:
    Header: #1F1F3D
    BG: #FFFFFF
    Font-Color: #1F1F3D
  Comment Box Colors:
    BG-Color: #5356A4
    Font-Color: #E9E9F3
  Side Bar Colors:
    BG: #1F1F3D
    Title: #E9E9F3
    Line-Breaks: #353567
    Filter Starred: #BFBFDD
    Show Starred BG: #5356A4
    Show Starred Font-Color: #E9E9F3
 */
html {
  min-height: 100%;
}
body {
  color:#1F1F3D;
  height: 100%;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}
.sidebar {
  color: white;
  background-color: #1F1F3D;
  width: 35vw;

}
.create-idea {
  background-color:#A9AAD2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}
.saved-ideas {
  background-color: #EAEAF4;
  display: flex;
  flex-direction: row;
  height: 50%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3%;
}
.idea {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-bottom: 3%
}
.idea-header {
  background-color:#1F1F3D;
  display: flex;
  justify-content: space-between;
}
.idea-header>img {
  /* height: 2vh; */
  width: 3vw;
}
