/*
FONTS
  Header Text: Open Sans, Bold
  Body & Label: Open Sans, Light
COLORS
  Main Page Colors:
    Dark: #1F1F3D
    Mid: #A9AAD2
    Light: #EAEAF4
  Idea Box Colors:
    Header: #1F1F3D
    BG: #FFFFFF
    Font-Color: #1F1F3D
  Comment Box Colors:
    BG-Color: #5356A4
    Font-Color: #E9E9F3
  Side Bar Colors:
    BG: #1F1F3D
    Title: #E9E9F3
    Line-Breaks: #353567
    Filter Starred: #BFBFDD
    Show Starred BG: #5356A4
    Show Starred Font-Color: #E9E9F3
 */
html {
  min-height: 100%;
}

body {
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  font-family: 'Open Sans';
}

input {
  background: #FFFFFF;
  border: 2px solid #5356A4;
  border-radius: 3px;
}

textarea {
  background: #FFFFFF;
  border: 2px solid #5356A4;
  font-family: 'Open Sans';
  border-radius: 3px;
  resize: none;
}

button {
  font-family: 'Open Sans';
  font-weight: bold;
  color: #E9E9F3;
  border: 2px solid #5356A4;
  border-radius: 3px;
  cursor: pointer;
  box-sizing: content-box;
}
button:focus {
  outline: none;
}

.sidebar {
  height: 100%;
  width: 20%;
  min-width: 10em;
  background-color: #1F1F3D;
  padding-left: 1em;
}

.sidebar-element {
  color: #E9E9F3;
  display: flex;
  padding: 1em;
  margin: 0 0 0 -1em;
  flex-direction: column;
  align-items: baseline;
  border-bottom: 1px solid #353567;
}

.sidebar-element>label {
  color: #BFBFDD;
  padding-bottom: 2.3em;
  font-size: .9em;
  font-weight: bold;
}

.sidebar-element>button {
  width: 90%;
  min-height: 2.5em;
  display: block;
  background-color: #5356A4;
  border-color: #353567;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.create {
  height: 50%;
  margin: 0;
  border: none;
  background-color: #A9AAD2;
  color: #1F1F3D;
  display: flex;
  justify-content: center;
}

.create-inputs {
  width: 100%;
  max-width: 30em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  overflow-y: scroll;
}

.create-inputs::-webkit-scrollbar {
  display: none !important;
}

.create-inputs>* {
  margin-top: 1.9%;
}

.create-inputs>label {
  font-weight: bold;
}

.create-inputs>textarea {
  min-height: 2em;
}

.title-input {
  height: 0.1em;
  font-weight: 400;
  font-size: 2em;
}

.body-input {
  height: 10em;
  font-size: 100%;
}

.save-button {
  min-height: 2.5em;
  display: block;
  background-color: #353567;
}
.save-button:hover:disabled {
  background-color: #5356A4;
  cursor: not-allowed;
}

.search-button-wrapper {
  height: 2.5em;
  background-color: #353567;
  border: 2px solid #5356A4;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.search-button {
  height: 100%;
  width: 4em;
  border: none;
  background-color: #353567;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button>img {
  height: 60%;
  padding: 0 2%;
}

.search-button-wrapper>input {
  width: 100%;
  padding-left: 10px;
  border: none;
  border-radius: 0;
  align-self: stretch;
}

.saved {
  height: 50%;
  background-color: #EAEAF4;
  padding: 1% 1% 5% 1%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.saved::-webkit-scrollbar {
  display: none;
}

.idea {
  width: 30%;
  max-width: 12em;
  min-width: 12em;
  max-height: 15em;
  min-height: 15em;
  padding: 0;
  margin: 1%;
  background-color: #FFFFFF;
  color: #1F1F3D;
  border: 2px solid #1F1F3D;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}



.idea-header {
  height: 2em;
  width: 100%;
  background: #1F1F3D;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.idea-header>button {
  background-color: inherit;
  border: none;
  height: 80%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite-button>img {
  height: 100%;
}

.active-star {
  position: absolute;
  width: 2.1em;
  max-height: 2.3em;
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.close-button>img {
  padding-right: 1%;
  height: 81%;
}

.idea-body {
  height: 10em;
  margin-left: 2%;
  height: 10em;
  margin-left: 2%;
  padding: 0 2%;
  display: flex;
  flex-direction: column;
}

.idea-body>h4 {
  align-self: flex-start;
  margin: 0;
  margin-bottom: 4%;
}

.idea-body>p {
  display: block;
  align-self: center;
  width: 11em;
  margin: 0;
=======
  display: block;
  align-self: center;
  width: 11em;
  margin: 0;
  word-break: break-all;
  hyphens: auto;
  overflow-y: scroll;
}
.idea-body>p::-webkit-scrollbar {
  display: none !important;
}

.comment-button-wrapper {
  height: 2em;
  width: 100%;
  border-bottom: none;
  border-top: solid 2px #1F1F3D;
  border-radius: 0;
  background: #5356A4;
  color: #E9E9F3;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.comment-button-wrapper>button {
  height: 2em;
  background: #5356A4;
  color: #E9E9F3;
  border: 2px;
}

.comment-button-wrapper>button>img {
  height: 100%;
}

.hidden {
  opacity: 0 !important;
}
