html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  font-family: 'Open Sans';
}

input {
  background: #FFFFFF;
  border: 2px solid #5356A4;
  border-radius: 3px;
}

textarea {
  background: #FFFFFF;
  border: 2px solid #5356A4;
  font-family: 'Open Sans';
  border-radius: 3px;
  resize: none;
}

button {
  font-family: 'Open Sans';
  font-weight: bold;
  color: #E9E9F3;
  border: 2px solid #5356A4;
  border-radius: 3px;
  cursor: pointer;
  box-sizing: content-box;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

button:hover:disabled {
  cursor: not-allowed;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 100%;
  width: 20%;
  min-width: 10em;
  background-color: #1F1F3D;
  padding-left: 1em;
}

.sidebar-element {
  color: #E9E9F3;
  display: flex;
  padding: 1em;
  margin: 0 0 0 -1em;
  flex-direction: column;
  align-items: baseline;
  border-bottom: 1px solid #353567;
}

.sidebar-element>label {
  color: #BFBFDD;
  padding-bottom: 2.3em;
  font-size: .9em;
  font-weight: bold;
}

.sidebar-element>button {
  width: 90%;
  min-height: 2.5em;
  display: block;
  background-color: #5356A4;
  border-color: #353567;
  -webkit-user-select: none;
  transition: background-color .3s ease-out;
}

.sidebar-element>button:hover {
  background-color: #1F1F3D;
}

.create {
  height: 50%;
  margin: 0;
  border: none;
  background-color: #A9AAD2;
  color: #1F1F3D;
  display: flex;
  justify-content: center;
}

.create-inputs {
  width: 100%;
  max-width: 30em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-y: scroll;
}

.create-inputs::-webkit-scrollbar {
  display: none !important;
}

.create-inputs>* {
  margin-top: 1.9%;
}

.create-inputs>label {
  padding-top: 3%;
  font-weight: bold;
}

.title-input {
  min-height: 1.4em;
  max-height: 1.4em;
  font-weight: 400;
  font-size: 2em;
}

.body-input {
  min-height: 8em;
  max-height: 8em;
  font-size: 150%;
}

.save-button {
  min-height: 2.7em;
  display: block;
  background-color: #353567;
  transition: background-color .3s ease-out;
}

.save-button:hover:disabled {
  background-color: #5356A4;
  cursor: not-allowed;
}

.search-button-wrapper {
  height: 2.5em;
  background-color: #353567;
  border: 2px solid #5356A4;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.search-button {
  height: 100%;
  width: 4em;
  border: none;
  background-color: #353567;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button:hover {
  cursor: default;
}

.search-button>img {
  height: 60%;
  padding: 0 2%;
}

.search-button-wrapper>input {
  width: 100%;
  padding-left: 10px;
  border: none;
  border-radius: 0;
  align-self: stretch;
}

.saved {
  height: 100%;
  background-color: #EAEAF4;
  padding: 1% 1% 5% 1%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.saved::-webkit-scrollbar {
  display: none;
}

.idea {
  width: 30%;
  max-width: 12em;
  min-width: 12em;
  max-height: 15em;
  min-height: 15em;
  padding: 0;
  margin: 1%;
  background-color: #FFFFFF;
  color: #1F1F3D;
  border: 2px solid #1F1F3D;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.idea-header {
  height: 2em;
  width: 100%;
  background: #1F1F3D;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.idea-header>button {
  background-color: inherit;
  border: none;
  height: 80%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.star-container{
  position: relative;
  display: flex;
  justify-content: center;
}

.empty-star {
  width: 2em;
  transform: scale(.99);
}


.active-star {
  position: absolute;
  transform: scale(1.2);
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.close-button>img {
  padding-right: 1%;
  height: 81%;
}

.idea-body {
  height: 10em;
  margin-left: 2%;
  height: 10em;
  margin-left: 2%;
  padding: 0 2%;
  display: flex;
  flex-direction: column;
}

.idea-body>h4 {
  align-self: flex-start;
  margin: 0;
  margin-bottom: 4%;
  word-break: break-all;
}

.idea-body>p {
  display: block;
  align-self: center;
  width: 11em;
  margin: 0;
  display: block;
  align-self: center;
  width: 11em;
  margin: 0;
  word-break: break-all;
  hyphens: auto;
  overflow-y: scroll;
}

.idea-body>p::-webkit-scrollbar {
  display: none !important;
}

.comment-button-wrapper {
  height: 2em;
  width: 100%;
  border-bottom: none;
  border-top: solid 2px #1F1F3D;
  border-radius: 0;
  background: #5356A4;
  color: #E9E9F3;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.comment-button-wrapper>button {
  height: 2em;
  background: #5356A4;
  color: #E9E9F3;
  border: 2px;
}

.comment-button-wrapper>button>img {
  height: 100%;
}

.hidden {
  opacity: 0 !important;
}
